$three: #143137;
$highlight: #F44C25;
$one: #2c414d;
$two: #14312c;
$main: #325b64;
$four: #143137;
$five: #f7d842;
$six: #37143d;
$pattern: "https://www.transparenttextures.com/patterns/black-linen.png";
$link-font: monospace;